.statistics {
    text-align: center;
    border: solid;
    margin-bottom: 30px;
}

.title {
    font-size: 48px;
}

.stat-list {
    display: flex;
    gap: 10px;
}

.column {
    flex-direction: column;
}


.label {
    font-size: 30px;
}


